/* This stuff we'll probably do in the runtime CSS block. */

td.tag_status_new    { background-color: #FF0000; }
td.tag_status_new a  { color: #FFFFFF; }
tr.tag_status_solved, tr.tag_status_solved a { color: white; }
tr.tag_status_solved { background-color: #383838;}  /* #999900;}*/
td.tag_status_needs-insight   { background-color: yellow; }
td.tag_status_needs-research  { background-color: #87CEFA;}
td.tag_status_brand-new      { background-color: #ADFF2F;}

td.tag_priority_high     { background-color: #FF0000; }
td.tag_priority_high a   { color: #FFFFFF; }


