body   {width: 100%;
       background-color: #DCDCDC;}
a      { text-decoration: none; }
h3     {text-align: center;}
.username  {color: #FF3030}

#header-links {width: 25%;
              border: 1px #000 solid;
              margin: 2px 40px 2px 2px;
              padding: 3px;
              background-color: #7FFFD4;
              float: right;}

#banners {width: 95%;
         margin: 10px 5px 5px 5px;
         padding: 5px;
         border: 1px #000 solid;
         background: transparent url(/static/frobot-small.gif) no-repeat;
         background-position: 95% 50%;
         background-color: #9EC5A9;
        }

#newsfeeds {width: 15%;
           margin: 10px 40px 0 0;
           padding: 5px;
           border: 1px #000 solid;
           background-color: #9EC5A9;
           float: right}

.newsfeed_list    {padding: 0 0 0 12px;
                  margin: 0;}

.newsfeed     {padding: 0 0 0 0;
              margin: 0;
              font-size: 12px;}

/**** Table Handling ****/

.puzzles_header {
                }

.puzzle_table   {width: 78%;
                border-spacing: 0;
                border: 1px #000 solid;
                margin: 0px 5px 5px 5px;
                padding: 5px;
                background-color: #C1FFC1}

table tr,td  {border: 1px #000 solid;}

table td  {padding: 3px 6px;
          margin: 1px;}

/**** Priority color handling ****/

tr.puzzle_display_0  { background-color: #F3F4EA; }
tr.puzzle_display_1  { background-color: #CCCCCC; }

/******** Puzzle Page formatting ******/

.puzzle_body_container h3 {font-size: 2.5em}

#tags_and_meta  {width: 20%;
                margin: 0 40px 0 0;
                float: right}

#tag-list     {width: 100%;
              padding: 5px;
              border: 1px #000 solid;
              background-color: #C1FFC1;}

#metadata-list {width: 100%;
              margin: 10px 0 0 0;
              padding: 5px;
              border: 1px #000 solid;
              background-color: #C1FFC1;}

body.puzzle #newsfeeds { display: none; }

#tags_and_meta #puzzle_newsfeeds {width: 100%;
                                margin: 10px 0 0 0;padding: 5px;
                                border: 1px #000 solid;
                                background-color: #9EC5A9;}

#edit-tag-editor        {align: center}
.family-editor          {margin: 0 0 0 10px}

.toggle-edit-link { font-size: x-small; }

#comments    {width: 72%;
                border-spacing: 0;
                border: 1px #000 solid;
                margin: 0px 5px 5px 5px;
                padding: 5px;
                background-color: #EEDFCC}

#comments h4  {text-align: center;}

#comments ul  {margin: 0;
              padding: 5 5 5 10;
              list-style:none;}

#comments li  {margin: 10px;
              padding: 2px;
              border: 1px #000 dashed;}
.comment-priority-important { background-color: yellow; }
.comment-priority-useless { background-color: grey; }
.blatant { font-size: x-large; }
