{% extends "template.html" %}

{% block title %}Puzzles {{ puzzles.display_query }}{% endblock %}

{% block content %}
<h3>Puzzles {{ puzzles.describe_query }}</h3>

<form action="{% url PuzzleCreateHandler %}" method="post">
  <table>
    <tr>
      <th>Puzzle</th>
      {% for family in families %}
        <th>{{ family.key.name }}</th>
      {% endfor %}
      <th>Tags</th>
      {% for meta in puzzles.show_metas %}
        <th>{{ meta }}</th>
      {% endfor %}
    </tr>
    {% for puzzle in puzzles %}
      <tr class="{{ puzzle.tags_as_css_classes }} {% cycle puzzle_display_0,puzzle_display_1 %}"> 
        <td>
          <a href="{% url PuzzleHandler puzzle.key.id %}">{{ puzzle.title|escape }}</a>
        </td>
        {% for family__option in puzzle.ordered_families %}
          <td class="tag_{{ family__option.0.key.name }}_{{ family__option.1}}">
            {% if family__option.1 %}
              <a href="{% url PuzzleListHandler family__option.2 %}"
                 >{{ family__option.1 }}</a>
            {% endif %}
          </td>
        {% endfor %}
        <td>
          {% for tag in puzzle.generic_tags %}
            <a href="{% url PuzzleListHandler tag %}">{{ tag }}</a>
          {% endfor %}
        </td>
        {% for meta in puzzles.show_meta_fields %}
          <td>
            {{ puzzle..meta|escape|urlize }}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
    <tr>
      <td>
        <input type="text" name="title" />
      </td>
      {% for family in families %}
        <td>
          <select name="tag_{{ family.key.name }}">
            <option></option>
            {% for option in family.options %}
              <option>{{ option }}</option>
            {% endfor %}
          </select>
        </td>
      {% endfor %}
      <td>
        <input type="text" name="tags" />
      </td>
      {% for meta in puzzles.show_meta_fields %}
        <td>
          <input type="text" name="{{ meta }}" />
        </td>
      {% endfor %}
    </tr>
  </table>

  <input type="submit" value="add puzzle" />
</form>

{% endblock content %}
