{% extends "template.html" %}

{% block title %}Puzzles{% if searchtag %} [{{searchtag}}]{% endif %}{% endblock %}

{% block content %}
<h3>Puzzles{% if searchtag %} [{{searchtag}}]{% endif %}</h3>

<ul>
  {% for puzzle in puzzles %}
    <li><a href="{% url PuzzleHandler puzzle.key.id %}">{{ puzzle.title|escape }}</a>
      {% if puzzle.tags %}
        [
          {% for tag in puzzle.tags %}
            <a href="{% url PuzzleListHandler tag %}">{{ tag }}</a>
          {% endfor %}
        ]
      {% endif %}
    </li>
  {% endfor %}
    <li>
      <form action="{% url PuzzleCreateHandler %}" method="post">
        <input type="text" name="title" />
        [<input type="text" name="tags" />]
        <input type="submit" value="add puzzle" />
      </form>
    </li>
</ul>

{% endblock content %}
