{% extends "template.html" %}

{% block title %}Puzzle: {{ puzzle.title|escape }}{% endblock %}

{% block bodyattrs %} class="puzzle {{ puzzle.tags_as_css_classes }}" {% endblock bodyattrs %}

{% block content %}
<h3>Puzzle: {{ puzzle.title|escape }}</h3>

<div id="tag-list">
  {% for tag in puzzle.generic_tags %}
    <a href="{% url PuzzleListHandler tag %}">{{ tag }}</a>
    <a href="{% url PuzzleTagDeleteHandler puzzle.key.id,tag %}">[delete]</a>
  {% endfor %}
  <form action="{% url PuzzleTagAddHandler puzzle.key.id %}" method="post">
    <input type="text" name="tag" />
    <input type="submit" value="add tag" />
  </form>
  <ul>
    {% for family__options in puzzle.families.iteritems %}
      <li>
        <form action="{% url PuzzleTagAddHandler puzzle.key.id %}" method="post">
          {{ family__options.0 }}:
          {% for option__selected in family__options.1 %}
            {% if option__selected.0 and option__selected.1 %}
              <a href="{% url PuzzleListHandler option__selected.2 %}"
                 >{{ option__selected.0 }}</a>
            {% endif %}
          {% endfor %}
          <select name="tag">
            {% for option__selected in family__options.1 %}
              <option value="{{ family__options.0 }}:{{ option__selected.0 }}"
                 {% if option__selected.1 %}
                    selected
                 {% endif %}
              >{{option__selected.0}}</option>
            {% endfor %}
          </select>
          <input type="submit" value="set" />
        </form>
      </li>
    {% endfor %}
  </ul>
</div>

<div id="comments">
  <h4>Comments</h4>
  <ul>
    {% for comment in comments %}
      <li>
        {{ comment.author.nickname|escape }} at {{ comment.created_display }}:
        <pre>{{ comment.text|escape }}</pre>
        <form action="{% url CommentEditHandler comment.key.id %}" method="post">
          <textarea name="text" rows="10" cols="80">{{ comment.text|escape }}</textarea>
          <input type="submit" value="save comment" />
        </form>
      </li>
    {% endfor %}
    <li>
      <form action="{% url CommentAddHandler puzzle.key.id %}" method="post">
        <textarea name="text" rows="30" cols="80"></textarea>
        <input type="submit" value="add comment" />
      </form>
    </li>
  </ul>
</div>

{% endblock content %}
