{% extends "template.html" %}

{% block title %}Puzzle: {{ puzzle.title|escape }}{% endblock %}

{% block bodyattrs %} class="puzzle {{ puzzle.tags_as_css_classes }}" {% endblock bodyattrs %}

{% block content %}
<h3>Puzzle: {{ puzzle.title|escape }}</h3>

<div id="tags_and_meta">
  <div id="tag-list">
    {% for tag in puzzle.generic_tags %}
      <a href="{% url PuzzleListHandler tag %}">{{ tag }}</a>
      <span class="tag-editor">
        <a href="{% url PuzzleTagDeleteHandler puzzle.key.id,tag %}">[delete]</a>
      </span>
    {% endfor %}
    <div class="tag-editor">
      <form action="{% url PuzzleTagAddHandler puzzle.key.id %}" method="post">
        <input type="text" name="tag" />
        <input type="submit" value="add tag" />
      </form>
    </div>
    <a href="#" id="edit-tag-editor">[edit tags]</a>
    <ul>
      {% for family__options in puzzle.families.iteritems %}
        <li>
          <form action="{% url PuzzleTagAddHandler puzzle.key.id %}" method="post">
            {{ family__options.0 }}:
            {% for option__selected in family__options.1 %}
              {% if option__selected.0 and option__selected.1 %}
                <a href="{% url PuzzleListHandler option__selected.2 %}"
                   >{{ option__selected.0 }}</a>
              {% endif %}
            {% endfor %}
            <a href="#" id="edit-family-{{ family__options.0 }}">[edit]</a>
            <span class="family-{{ family__options.0 }}">
              <select name="tag">
                {% for option__selected in family__options.1 %}
                  <option value="{{ family__options.0 }}:{{ option__selected.0 }}"
                          {% if option__selected.1 %}
                            selected
                          {% endif %}
                          >{{option__selected.0}}</option>
               {% endfor %}
              </select>
              <input type="submit" value="set" />
            </span>
          </form>
        </li>
      {% endfor %}
    </ul>
  </div>
  
  <div id="metadata-list">
    <ul>
      {% for metadatum in puzzle.metadata %}
        <li>
          <form action="{% url PuzzleMetadataSetHandler metadatum.0 %}" method="post">
            {{ metadatum.0 }}: {%if metadatum.1 %}{{ metadatum.1|escape|urlize }}{% endif %}
            <a href="#" id="edit-metadatum-{{ metadatum.0 }}">[edit]</a>
            <span class="metadatum-{{ metadatum.0 }}">
              <input type="text" name="value"
                     {% if metadatum.1 %} value="{{ metadatum.1|escape }}" {% endif %}/>
              <input type="submit" value="set {{ metadatum.0 }}" />
            </span>
          </form>
        </li>
      {% endfor %}
    </ul>
  </div>

  {# newsfeeds need to be here since other stuff is floated right also #}
  <div id="puzzle_newsfeeds">
    {{ rendered_newsfeeds }}
  </div>
</div>

<div id="spreadsheets">
  <h4>Spreadsheets</h4>

  {% for spreadsheet in puzzle.spreadsheet_set %}
    <iframe width='80%' height='250' frameborder='1'
            src='http://spreadsheets.google.com/a/optimusfunk.org/ccc?key={{ spreadsheet.spreadsheet_key|urlencode }}&amp;output=html&amp;widget=false&amp;chrome=true'></iframe>
  {% endfor %}

  <form action="{% url SpreadsheetAddHandler puzzle.key.id %}" method="get">
    <input type="text" name="title" />
    <input type="submit" value="add spreadsheet" />
  </form>
</div>

<div id="comments">
  <h4>Comments</h4>
  <ul>
    {% for comment in comments %}
      <li class="comment-priority-{{ comment.priority }}">
        {{ comment.author|escape }} at {{ comment.created_display }}
        [{{ comment.priority }}]
        <a href="#" id="edit-priority-{{ comment.key.id }}">[edit priority]</a>
        <span class="priority-{{ comment.key.id }}">
          <form action="{% url CommentPrioritizeHandler comment.key.id %}" method="post">
            <select name="priority">
              {% for priority in comment.PRIORITIES %}
              <option {% ifequal comment.priority priority %} selected {% endifequal %}
                      >{{ priority }}</option>
              {% endfor %}
            </select>
            <input type="submit" value="set" />
          </form>
        </span>
        <pre>{{ comment.text|escape|urlize }}</pre>
        <a href="#" id="edit-comment-{{ comment.key.id }}">[edit comment]</a>
        <div class="comment-{{ comment.key.id }}">
          <form action="{% url CommentEditHandler comment.key.id %}" method="post">
            <textarea name="text" rows="20" cols="80">{{ comment.text|escape }}</textarea>
            <input type="submit" value="save comment" />
          </form>
        </div>
      </li>
    {% endfor %}
    <li>
      Post a new comment:
      <form action="{% url CommentAddHandler puzzle.key.id %}" method="post">
        <textarea name="text" rows="20" cols="80"></textarea>
        <input type="submit" value="add comment" />
      </form>
    </li>
  </ul>
</div>

{% endblock content %}
