{% extends "template.html" %}

{% block title %}Comment Conflict: Puzzle: {{ puzzle.title|escape }}{% endblock %}

{% block bodyattrs %} class="puzzle {{ puzzle.tags_as_css_classes }}" {% endblock bodyattrs %}

{% block content %}
<h3>Comment Conflict:
  <a href="{% url PuzzleHandler puzzle.key.id %}">Puzzle {{ puzzle.title|escape }}</a></h3>

<table border="1">
  <tr>
    <td>
      Oh no!  You tried to edit a comment written by
      {{ base_comment.author|escape }} at {{ base_comment.created_display }}:
    </td>
    <td>
      But in the meantime, it was updated by
      {{ newest_comment.author|escape }} at {{ newest_comment.created_display }}:
    </td>
    <td>
      You tried to change it to:
    </td>
  </tr>
  <tr>
    <td>
      <pre>{{ base_comment.text|escape }}</pre>
    </td>
    <td>
      <pre>{{ newest_comment.text|escape }}</pre>
    </td>
    <td>
      <pre>{{ your_text|escape }}</pre>
    </td>
  </tr>
</table>

<p>
  Let's try to resolve this!
  <form action="{% url CommentEditHandler newest_comment.key.id %}" method="post">
    <textarea name="text" rows="30" cols="80">{{ merged_text|escape }}</textarea>
    <input type="submit" value="save comment" />
  </form>
</p>

{% endblock content %}
