<html>
  <head>
    <title>{{ instance_name|escape }} HQ: {% block title %}some page{% endblock %}</title>
    <script type="text/javascript" src="/static/jquery-1.3.min.js"></script>
    <script type="text/javascript">
       $(document).ready(function() {
         $("a[id^=edit-]").each(function() {
           var target_name = "." + this.id.substring(5);
           var original_text = $(this).text();
           $(target_name).hide().animate({opacity: 0});
           $(this).addClass("toggle-edit-link");
           $(this).toggle(
             function() {
               $(target_name).show().animate({opacity: 1});
               $(this).text("[hide]");
             },
             function() {
               $(target_name).animate(
                 {opacity: 0},
                 function() { $(this).hide(); });
               $(this).text(original_text);
             }
           );
         });
         {% block jqueryready %}{%endblock jqueryready %}
       });
    </script>
    <style type="text/css">
      {{ custom_css }}
      .toggle-edit-link { font-size: x-small; }
      .comment-priority-important { background-color: yellow; }
      .comment-priority-useless { background-color: grey; }
      .blatant { font-size: x-large; }
    </style>
  </head>
  <body {% block bodyattrs %}{% endblock bodyattrs %}>
    <div id="current-user-info">You are: <span class="username">{{ current_user|escape }}</span>.
      {% ifequal current_user "nobody" %}
        <span class="blatant">Please log in: </span>
      {% else %}
        <a href="#" id="edit-username-selector">[change]</a>
      {% endifequal %}
      <div class="username-selector">
        <form action="{% url UserChangeHandler %}" method="post">
          <select name="username">
            {% for username in usernames %}
              <option {% ifequal current_user username.key.name %} selected {% endifequal %}
                      >{{ username.key.name|escape }}</option>
            {% endfor %}
          </select>
          or other:
          <input type="text" name="other" />
          <input type="submit" value="set name" />
        </form>
      </div>
    </div>
    <div id="header-links">
      <a href="/puzzles/search/showmeta=answer">Puzzles</a>
      [ Admin:
        <a href="{% url FamilyListHandler %}">Tags/Metadata</a>
        <a href="{% url CssHandler %}">CSS</a>
      ]
    </div>
    <div id="banners">
      {{ rendered_banners }}
    </div>

    <div id="content">
      {% block content %}
        This page seems to have no content!
      {% endblock content %}
    </div>
  </body>
</html>
