<html>
  <head>
    <title>{{ instance_name|escape }} HQ: {% block title %}some page{% endblock %}</title>
    <style type="text/css">
      {{ custom_css }}
      .comment-priority-important { background-color: yellow; }
      .comment-priority-useless { background-color: grey; }
    </style>
  </head>
  <body {% block bodyattrs %}{% endblock bodyattrs %}>
    <div id="current-user-info">You are: {{ current_user.nickname|escape }}.
      <a href="{{ log_out_url }}">[log out]</a>
    </div>
    <div id="header-links">
      <a href="{% url PuzzleListHandler %}">Puzzles</a>
      [ Admin:
        <a href="{% url FamilyListHandler %}">Tags/Metadata</a>
        <a href="{% url CssHandler %}">CSS</a>
      ]
    </div>
    <div id="banners">
      {{ rendered_banners }}
    </div>

    <div id="content">
      {% block content %}
        This page seems to have no content!
      {% endblock content %}
    </div>
  </body>
</html>
