<html>
  <head>
    <title>{{ instance_name|escape }} HQ: {% block title %}some page{% endblock %}</title>
  </head>
  <body>
    <div id="current-user-info">You are: {{ current_user.nickname }}.
      <a href="{{ log_out_url }}">[log out]</a>
    </div>
    <div id="header-links">
      <a href="{% url PuzzleListHandler %}">Puzzles</a>
      <a href="{% url FamilyListHandler %}">Admin</a>
    </div>
    <div id="banners">
      {{ rendered_banners }}
    </div>

    <div id="content">
      {% block content %}
        This page seems to have no content!
      {% endblock content %}
    </div>
  </body>
</html>
